body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(33, 99, 255, 0.1)
}

.settings {
    position: fixed;
    top: 3vh;
    left: 3vh;
    height: 30px;
    width: 30px;
}

.settings__icon {
    cursor: pointer;
    margin-bottom: 10px;
}

.settings__icon:hover {
    transition-duration: 0.3;
    transform: scale(1.05);
}

.settings__form {
    visibility: hidden;
    background-color: #CCCCFF;
    width: 210px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    outline: 2px solid #9999FF;
}

.settings__form__field {
    width: 210px;
    display: flex;
    margin-bottom: 10px;
    user-select: none;
}

.settings__form__field__input {
    margin-left: 5px;
    width: 60px;
    border-radius: 5px;
    text-indent: 75%;
}

.settings__form__field__button {
    border-radius: 3px;
    background-color: #FFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; 

}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background-color: white;
    border: 2px solid #CCC;
    border-radius: 5px;
    padding: 35px;
}

.counter__info {
    font-size: 30px;
}

.counter__text {
    font-size: 50px;
}